// overide of some Bootstrap elements
$primary: rgb(25, 43, 83);
$secondary: rgb(179, 20, 81);
h6 {
  color: white;
}
$btn-border-width: unset;
$btn-border-radius: 20px;
$btn-border-radius-lg: 20px;
.btn {
  border: unset;
}
p,
h1,
a {
  color: $primary;
}
//importing bootstrap variables to update with changes above
@import "../node_modules/bootstrap/scss/bootstrap";

// mobile first development

.banner {
  width: 95%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin: 0 auto;
  h1 {
    padding-bottom: 20px;
  }
}

#colorPallete {
  padding: 50px 0 40px 0;
  margin: 0 auto;
  #pallete {
    row-gap: 24px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    .box {
      padding-bottom: 10px;
      .colorBox {
        height: 150px;
        border-radius: 20px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        button {
          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

#example {
  background-color: $primary;
  padding: 50px 0;

  .example {
    background-color: white;
    width: 90%;
    border: 1px solid $black;
    border-radius: 20px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .navbar {
      width: 95%;
      margin: 0 auto;
      flex-wrap: nowrap;
      #brand {
        padding-left: 12px;
      }
      .container-fluid {
        justify-content: flex-end;
        .navbar-nav {
          display: none;
        }
      }
    }
    .row {
      padding: 50px 0 90px 0;
      align-items: center;
      flex-direction: column;
      .col-sm-6 {
        #imageExample {
          display: flex;
          justify-content: center;
        }
      }
      .header {
        text-align: center;
        width: 90%;
        h1,
        h5 {
          width: 90%;
          margin: 0 auto;
        }
        h1 {
          padding-bottom: 20px;
        }

        #buttonExample {
          min-width: 100%;
          margin: 30px auto;
        }
      }
      #exampleSplash {
        #svg {
          width: 90%;
          height: 90%;
        }
      }
    }
  }
}
.side-menu {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  .loc {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    .dot {
      height: 10px;
      width: 10px;
      background-color: $primary;
      border-radius: 50%;
    }
  }
}

.mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 3px;

  .long,
  .short {
    width: 30px;
    height: 3px;
    background-color: pink;
  }
  .short {
    width: 20px;
  }
}

//for screen that are larger than
@include media-breakpoint-up(sm) {
  .colorBox {
    height: 200px;
  }
}
//for screen that are larger than
@include media-breakpoint-up(md) {
  #example {
    .example {
      .row {
        flex-direction: row;
        justify-content: space-around;
        .col-sm-6 {
          width: unset;
        }
        .header {
          text-align: left;
          width: 40%;
          h1,
          h5 {
            width: 100%;
          }
        }
        #exampleSplash {
          #svg {
            width: 40vw;
            height: 40vw;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .container-fluid {
    .navbar-nav {
      display: flex !important;
    }
  }
}
