// overide of some Bootstrap elements
@import "../node_modules/bootstrap/scss/functions";
$primary: #192b53;

$secondary: rgb(164, 176, 204);
// Nav Bar: rgb(102, 139, 99)
// Heading Text: rgb(72, 56, 92)
// Button: rgb(8, 67, 92)
// Hero Image: rgb(4, 111, 30)

.h6 {
  color: white !important;
}
$btn-border-width: unset;
$btn-border-radius: 20px;
$btn-border-radius-lg: 20px;
.btn {
  border: unset;
  &:focus,
  &:active {
    box-shadow: unset !important;
    filter: opacity(0.85);

    // background-color: rgba(25, 43, 83, 0.75) !important;
  }
}
p,
h1,
a,
.nav-link {
  color: $primary;
  text-decoration: none !important;
}
.lead {
  margin-bottom: 4px;
}
$enable-cssgrid: true;
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/navbar";
@import "./nav.scss";
@import "./slidingMenu.scss";
// mobile first development
.navView {
  div *:not(.bar) {
    opacity: 0.75;
  }
}
body.open {
  overflow: hidden;
}

.banner {
  width: 90%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin: 0 auto;
  h1 {
    padding-bottom: 5px;
  }
  p {
    margin-bottom: 30px;
  }
  button {
    width: 100%;
  }
}

#colorPallete {
  padding: 50px 0 50px 0;
  margin: 0 auto;
  width: 90%;
  #pallete {
    row-gap: 24px;
    overflow: hidden;
    max-width: 1300px;
    margin: 0 auto;
    .box {
      padding-bottom: 10px;
      .colorBox {
        height: 150px;
        border-radius: 20px 0px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        border: 2px solid $white;
        .lockSVG {
          position: absolute;
          top: 8px;
          right: 8px;
          height: 24px;
          width: 24px;
          z-index: 1;
          cursor: pointer;

          svg {
            position: relative;
            z-index: -1;
            path {
              fill: white;
            }
          }
        }
      }
    }

    .color {
      width: 100%;
      margin: 0 auto;
    }

    .colorBox.locked {
      background-color: white;
      color: $primary;
      border-color: $primary;
    }

    .color.locked {
      background-color: rgba(25, 43, 83, 0.35) !important;

      pointer-events: none;
    }
    .lock {
      margin-top: 6px;
    }
  }
}

#example {
  background-color: $primary;
  padding: 50px 0;

  .example {
    background-color: white;
    width: 90%;
    max-width: 1300px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .navbar {
      width: 95%;
      margin: 0 auto;
      flex-wrap: nowrap;
      #brand {
        padding-left: 12px;
      }
      .container-fluid {
        justify-content: flex-end;
        .navbar-nav {
          display: none;
        }
      }
    }
    .rowExample {
      padding: 50px 0 90px 0;
      align-items: center;
      flex-direction: column;

      .col-sm-6 {
        #imageExample {
          display: flex;
          justify-content: center;
        }
      }
      .header {
        text-align: center;
        width: 90%;
        h1,
        h5 {
          width: 90%;
          margin: 0 auto;
        }
        h1 {
          padding-bottom: 20px;
        }

        #buttonExample {
          min-width: 100%;
          margin: 30px auto;
        }
      }
      #exampleSplash {
        #svg {
          width: 90%;
          height: 90%;
          max-width: 600px;
          max-height: 600px;
        }
      }
    }
  }
}
.side-menu {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  .loc {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    .dot {
      height: 10px;
      width: 10px;
      background-color: $primary;
      border-radius: 50%;
    }
  }
}

.mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 3px;
  margin-right: 12px;

  .long,
  .short {
    width: 30px;
    height: 3px;
    background-color: pink;
  }
  .short {
    width: 20px;
  }
}
footer {
  background-color: $primary;
  padding: 50px 0;
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    a {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  p {
    color: white;
    text-align: center;
    padding-top: 20px;
  }
}
#cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
  .lead {
    padding: 0 0 30px 0;
    text-align: center;
  }
  button {
    width: 100%;
  }
  textarea {
    margin-top: 30px;
  }
}
//for screen that are larger than
@include media-breakpoint-up(sm) {
  .colorBox {
    height: 200px;

    width: 100%;
  }
}
//for screen that are larger than
@include media-breakpoint-up(md) {
  #example {
    .example {
      .row {
        flex-direction: row;
        justify-content: space-around;
        .col-sm-6 {
          width: unset;
        }
        .header {
          text-align: left;
          width: 40%;
          h1,
          h5 {
            width: 100%;
          }
        }
        #exampleSplash {
          #svg {
            width: 40vw;
            height: 40vw;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .container-fluid {
    .navbar-nav {
      display: flex !important;
    }
  }
  #cta {
    button {
      max-width: 350px;
    }
  }
  .banner {
    button {
      max-width: 350px;
    }
  }
}
