// scss-docs-start color-variables
$primary: rgb(25, 43, 83);
h6 {
  color: white;
}
$btn-border-radius: 20px;
@import "../node_modules/bootstrap/scss/bootstrap";
.colorBox {
  height: 150px;
  width: 90vw;
  border-radius: 20px 0;
  @include media-breakpoint-up(sm) {
    width: 200px;
    height: 200px;
  }
}
.example {
  .row {
    align-items: center;
    .header {
      padding-left: 10px;
    }
  }
}
#svg {
  width: 85vw;
  height: auto;
  @include media-breakpoint-up(sm) {
    width: 50vw;
  }
}
