#nav {
  padding-top: 12px;

  margin: 0 auto;
  padding: 12px 5%;
  background-color: rgb(236, 236, 236);
  margin-bottom: 20px;
  .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    img {
      height: 50px;
    }
    h1 {
      display: none;
      color: $primary;
    }
    #hamburger {
      display: flex;
      flex-direction: column;
      row-gap: 6px;
      align-items: flex-end;
      z-index: 2;
      .bar {
        width: 36px;
        height: 4px;
        background-color: $primary;
        transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out;
      }
      .bar-two {
        width: 46px;
        opacity: 1;
      }
    }
  }
}
.open {
  .bar {
    transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out;
  }
  .bar-one {
    transform: translate(0px, 12px) rotate(-45deg);
    background-color: $white !important;
  }
  .bar-three {
    transform: translate(0px, -8px) rotate(45deg);
    background-color: $white !important;
  }
  .bar-two {
    opacity: 0 !important;
  }
}
@include media-breakpoint-up(sm) {
  nav {
    h1 {
      margin-bottom: 0;
      display: block !important;
    }
  }
}
