#slider {
  width: 0vw;
  height: 0;
  overflow: hidden;
  background-color: $primary;
  padding: 0 5%;
  align-items: center;
}
#slider.open {
  transition: width 0.3s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
  width: 100vw !important;
  height: 100vh;

  right: 0;
  position: absolute;
  div.logo {
    align-items: center;
    svg {
      position: relative;
      transform: scale(0.2);
      animation: slidein 3s;
      height: 150px;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 90%;
    a {
      color: white;
      button {
        width: 100%;
      }
    }
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    img {
      width: 40px;
      height: 40px;
    }
  }
}
@include media-breakpoint-up(sm) {
  #slider.open {
    width: 70vw !important;
    max-width: 400px;
  }
}

@keyframes slidein {
  0% {
    transform: scale(0);
  }
  5% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.5);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}
